.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.containerReviews {
  width: 100%;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
}

.containerUser {
  display: flex;
  align-items: center;
  gap: 16px;
}

.firstLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #f2f4f7;
  color: #e44848;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  border-radius: 50%;
}

.userName {
  font-weight: 500;
  line-height: 1.5;
}

.userRatingList {
  display: flex;
  margin-top: 4px;
}

.userReview {
  margin-top: 16px;
}

.starIcon {
  fill: #f2f4f7;
}

.starIconYellow {
  fill: #ffc531;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    column-gap: 20px;
  }

  .containerReviews {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    column-gap: 40px;
  }

}