.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  background-color: #f7f7f7;
}

.mainLogo {
  width: max-content;
}

.mainLogoImg {
  width: 120px;
  height: auto;
}

.nav {
  display: none;
}

.navList {
  display: flex;
  gap: 32px;
}

.navLink {
  transition: color 0.3s ease;
}

.navLink.active {
  color: #d84343;
}

.burgerMenuIcon {
  stroke: #101828;
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
    padding: 24px 32px;
    justify-content: flex-start;
  }

  .mainLogo {
    position: absolute;
    width: max-content;
  }

  .mainLogoImg {
    width: 136px;
    height: auto;
  }

  .nav {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .burgerMenuIcon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 64px;
  }
}
