.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  background-color: #f7f7f7;
  z-index: 1;
}

.mainLogo {
  width: max-content;
}

.mainLogoImg {
  width: 120px;
  height: auto;
}

.nav {
  display: none;
}

.navList {
  display: flex;
  gap: 32px;
}

.navLink {
  transition: color 0.3s ease;
}

.navLink.active {
  color: #d84343;
}

.burgerMenuIcon {
  stroke: #101828;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #101828;
}

.modalList {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 100px;
  margin-left: 36px;
}

.modalLink {
  color: #f7f7f7;
}

.modalLink.active {
  color: #d84343;
}

.closeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 32px;
    justify-content: flex-start;
  }

  .mainLogo {
    position: absolute;
    width: max-content;
  }

  .mainLogoImg {
    width: 136px;
    height: auto;
  }

  .nav {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .burgerMenuIcon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 64px;
  }
}
